@use 'variables' as *;
@use 'mixins' as *;

.bonuses {
	position: relative;
	@include mq('desktop', max) {
		padding: 5.1rem 0 4.3rem;
		margin: -194rem 0 0;
	}

	@include mq('desktop') {
		padding: 5.8rem 0 20.1rem;
		margin: -153.9rem 0 0;
	}
}

.bonuses__container {
	max-width: 43.2rem;
	&::after {
		content: '';
		position: absolute;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
		width: 100%;
		left: 0;

		// z-index: -1;

		@include mq('desktop', max) {
			bottom: 0;
			height: 5rem;
		}

		@include mq('desktop') {
			bottom: 0;
			height: 5rem;
		}
	}
}

.bonuses__title {
	margin-bottom: 5.3rem;
}

.bonuses__ribbon {
	position: absolute;
	z-index: -2;
	@include mq('desktop', max) {
		bottom: 0%;
		left: 50%;
		transform: translate(-49.8%, 43.8%);
		width: 85.3rem;
		height: 29.2rem;
		// aspect-ratio: 916/276;
	}

	@include mq('desktop') {
		bottom: 15%;
		left: 50%;
		transform: translate(-49.6%, 54.1%);
		width: 124.3rem;
		height: 42.5rem;
	}
}

.bonuses__description {
	@include mq('desktop', max) {
		margin: 0 auto 1.5rem;
		max-width: 33rem;
	}

	@include mq('desktop') {
		margin: 0 auto 3.1rem;
		max-width: 50rem;
	}
}
.bonuses__decoration {
	position: relative;
	z-index: -1;
}

.bonuses__pic {
	@include mq('desktop', max) {
		display: none;
	}

	@include mq('desktop') {
		position: absolute;

		// animation: dance 6s infinite ease-in-out 2s;
	}

	&:first-of-type {
		@include mq('desktop') {
			top: -23.6rem;
			left: -28.9rem;
			width: 54.3rem;
			height: 81.8rem;
		}
	}

	&:nth-of-type(2) {
		@include mq('desktop') {
			top: -7.9rem;
			left: -58.8rem;
			width: 104.6rem;
			height: 104.6rem;
		}
	}

	&:nth-of-type(3) {
		@include mq('desktop') {
			top: -1rem;
			right: -47.7rem;
			width: 78.5rem;
			height: 105.7rem;
		}
	}
}

.bonuses__cards {
	display: flex;
	flex-direction: column;

	@include mq('desktop', max) {
		gap: 3.7rem;
		margin: 0 auto;
		align-items: center;
	}

	@include mq('desktop') {
		gap: 4.5rem;
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1;

	border-radius: 1rem;
	border: 0.1rem solid $card-border;
	overflow: hidden;
	backdrop-filter: blur(0.7rem);

	@include mq('desktop', max) {
		align-items: center;
		padding: 23rem 46px 4rem;
		aspect-ratio: 392/542;
	}

	@include mq('desktop') {
		padding: 4.1rem 40rem 3.8rem 6.9rem;
		aspect-ratio: 1253/341;
		min-height: 34.1rem;
	}

	&:first-child {
		background-color: rgba(44, 26, 75, 0.77);
	}

	&:nth-child(2) {
		background: linear-gradient(
			180deg,
			rgba(94, 20, 43, 0.77) 24%,
			rgba(88, 12, 32, 1) 34%,
			rgba(94, 20, 43, 0.77) 45%
		);

		@include mq('desktop') {
			align-items: flex-end;
			padding: 4.1rem 5.2rem 3.8rem 6.9rem;

			& .card__info {
				max-width: 43rem;
			}
		}
	}

	&:nth-child(3) {
		background-color: rgba(51, 22, 17, 0.77);
	}
}

.card__pic {
	position: absolute;
	width: 100%;

	@include mq('desktop', max) {
		top: 0;
		left: 0;
	}

	@include mq('desktop') {
		z-index: -2;
		top: 0;
		right: 0;
	}
}

.card__img {
	width: 100%;
}

.card__info {
	display: flex;
	flex-direction: column;

	@include mq('desktop', max) {
		align-items: center;
		margin-top: -0.3rem;
		max-width: 30rem;
	}

	@include mq('desktop') {
		align-items: start;
		max-width: 46.8rem;
	}
}

.card__title {
	@include mq('desktop', max) {
		margin: 2.3rem 0 2.4rem;
	}

	@include mq('desktop') {
		margin: 2.4rem 0 2.8rem;
		font-size: 3.4rem;
		text-align: start;
	}
}

.card__span {
	display: block;
}

.card__subtitle {
	font-size: 1.8rem;

	@include mq('desktop', max) {
		margin: 0 0 1.9rem;
		text-align: center;
	}

	@include mq('desktop') {
		margin: 0 0 2.7rem;
		text-align: start;
	}
}
