@use 'variables' as *;
@use 'mixins' as *;

.bonuses {
	padding: 4.8rem 0 4.3rem;

	background-color: #b37b5a;
}

.bonuses__title {
	margin-bottom: 5rem;
}

.bonuses__description {
	margin: 0 auto 1.9rem;
	max-width: 33rem;
}

.bonuses__cards {
	display: flex;
	flex-direction: column;
	gap: 3.7rem;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3.7rem;
	border-radius: 1rem;
	border: 0.1rem solid $card-border;
	overflow: hidden;
	backdrop-filter: blur(7rem);

	&:first-child {
		background: linear-gradient(
			180deg,
			rgba(44, 26, 75, 0.77) 24%,
			rgba(33, 13, 62, 1) 34%,
			rgba(44, 26, 75, 0.77) 45%
		);
	}

	&:nth-child(2) {
		background: linear-gradient(
			180deg,
			rgba(94, 20, 43, 0.77) 24%,
			rgba(88, 12, 32, 1) 34%,
			rgba(94, 20, 43, 0.77) 45%
		);
	}

	&:nth-child(3) {
		background-color: rgba(51, 22, 17, 0.77);
	}
}

.card__pic {
	width: 45.8rem;
	height: 23rem;
}

.card__info {
	margin-top: -0.3rem;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__title {
	margin: 2.4rem 0 2.4rem;
}

.card__subtitle {
	margin: 0 0 1.8rem;
	font-size: 1.8rem;
	text-align: center;
}
