@use 'variables' as *;
@use 'mixins' as *;

.drawing {
	background-size: cover;

	@include mq('desktop', max) {
		padding: 3.4rem 0 3rem;

		@include bg('../assets/images/drawing-mob.jpg');
	}

	@include mq('desktop') {
		padding: 5.7rem 0 30.5rem;

		@include bg('../assets/images/letter-desk.jpg');
	}
}

.drawing__container {
	@include mq('desktop') {
		padding: 0 40.7rem;
	}
}

.drawing__ribbon {
	position: absolute;
	z-index: -1;
	@include mq('desktop', max) {
		bottom: 0%;
		left: 50%;
		transform: translate(-52.1%, 79.6%);
		width: 89.6rem;
		height: 31.3rem;
		// aspect-ratio: 916/276;
	}

	@include mq('desktop') {
		bottom: 15%;
		left: 50%;
		transform: translate(-47.7%, 56.3%);
		width: 225.2rem;
		height: 58.6rem;
	}
}

.drawing__title {
	@include mq('desktop', max) {
		margin-bottom: 6.4rem;
	}

	@include mq('desktop') {
		margin-bottom: 19.9rem;
	}
}

.letter {
	position: relative;

	@include mq('desktop', max) {
		padding: 16.1rem 0;
	}

	@include mq('desktop') {
	}
}

.drawing__info {
	display: flex;
	flex-direction: column;

	@include mq('desktop', max) {
		align-items: center;
	}

	@include mq('desktop') {
		align-items: start;
	}
}

.letter__pic {
	@include mq('desktop', max) {
		position: absolute;
		top: -7.3rem;
		right: -2.4rem;

		width: 46rem;
		height: 51rem;
	}

	@include mq('desktop') {
		display: none;
	}
}

.letter__shine {
	position: absolute;
	z-index: 3;
	animation: shine 8s ease-in-out 10s infinite;

	&--big {
		@include mq('desktop', max) {
			top: -8.7rem;
			right: 11rem;
			width: 20.8rem;
			height: 20.6rem;
		}

		@include mq('desktop') {
			top: -32rem;
			right: -1.4rem;
			width: 43.5rem;
			height: 43rem;
		}
	}

	&--small {
		@include mq('desktop', max) {
			top: 6rem;
			right: 26rem;
			width: 10.4rem;
			height: 10.3rem;
		}

		@include mq('desktop') {
			top: -2.1rem;
			right: 28rem;
			width: 25.5rem;
			height: 25.5rem;
		}
	}
}

.drawing__description {
	color: $white;

	@include mq('desktop', max) {
		margin: 2rem 0 1.8rem;
		max-width: 34rem;
	}

	@include mq('desktop') {
		margin: 2.5rem 0 2.8rem;
		max-width: 53rem;
		text-align: left;
		letter-spacing: 2%;
	}
}

.drawing__text {
	font-size: 1.8rem;

	letter-spacing: 1.8%;

	&--highlight {
		color: $orange;
	}

	@include mq('desktop', max) {
		margin-bottom: 2.6rem;
		text-align: center;
	}

	@include mq('desktop') {
		margin-bottom: 2.8rem;
		max-width: 53rem;
	}
}
