@use 'mixins' as *;
@use 'variables' as *;

.hero {
	background-size: cover;

	@include mq('desktop', max) {
		// padding: 4.8rem 0 6.7rem;
		padding: 4.8rem 0 12.2rem;
		background-position: bottom;
		@include bg('../assets/images/hero-mob.jpg');
	}

	@include mq('desktop') {
		padding: 12.5rem 0 9rem;
		background-position: right;
		@include bg('../assets/images/hero-desk.jpg');
	}
}

.hero__container {
	@include mq('desktop', max) {
		max-width: 47rem;
	}

	@include mq('desktop') {
		max-width: 145.7rem;
	}
}

.hero__content {
	display: flex;
	flex-direction: column;

	@include mq('desktop', max) {
		align-items: center;
	}

	@include mq('desktop') {
		align-items: start;
		max-width: 66rem;
	}
}

.logo {
	@include mq('desktop', max) {
		width: 21rem;
		height: 4.2rem;
		margin-bottom: 2.2rem;
	}

	@include mq('desktop') {
		width: 37rem;
		height: 7rem;
		margin-bottom: 5rem;
	}
}

.hero__title {
	@include mq('desktop', max) {
		margin-bottom: 2rem;
		font-size: 5.8rem;
	}

	@include mq('desktop') {
		margin-bottom: 4.4rem;
		font-size: 9.3rem;
		text-align: left;
	}
}

.hero__description {
	color: $orange;

	@include mq('desktop') {
		text-align: left;
	}
}

.hero__decoration {
	position: relative;

	@include mq('desktop', max) {
		padding: 0 0 42rem;
	}

	@include mq('desktop') {
		padding: 0 0 20rem;
	}
}

.hero__picture {
	@include mq('desktop', max) {
		position: absolute;
		bottom: -16%;
		left: 50%;
		transform: translate(-53.7%, 0);

		width: 63.6rem;
		height: 47.7rem;
	}

	@include mq('desktop') {
		display: none;
	}
}

.hero__cube {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero__cube--big {
	@include mq('desktop', max) {
		margin: 20.3rem -12.6rem 0rem;

		width: 18rem;
		height: 18rem;
	}

	@include mq('desktop') {
		margin: 4.5rem -28.7rem 0rem;
		width: 29.6rem;
		height: 28.9rem;
	}
}

.hero__cube--small {
	z-index: 5;
	@include mq('desktop', max) {
		margin: 22.8rem 14.2rem 0rem;
		width: 10.5rem;
		height: 9rem;
	}

	@include mq('desktop') {
		margin: 11.8rem 60.4rem 0rem;
		width: 19.8rem;
		height: 17rem;
	}
}

.hero__deco {
	animation: levitate 3s infinite ease-in-out 0s;
}
