@use 'variables' as *;
@use 'mixins' as *;

.tournament {
	background-size: cover;
	position: relative;

	@include mq('desktop', max) {
		padding: 3.3rem 0 2.7rem;

		@include bg('../assets/images/tournament-mob.jpg');
	}

	@include mq('desktop') {
		padding: 0.1rem 0 4.8rem;

		@include bg('../assets/images/tournament-desk.jpg');
	}

	&::after {
		content: '';
		position: absolute;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
		width: 100%;
		left: 0;

		// z-index: -1;

		@include mq('desktop', max) {
			bottom: 0;
			height: 5rem;
		}

		@include mq('desktop') {
			bottom: 0;
			height: 5rem;
		}
	}
}

.tournament__container {
	@include mq('desktop', max) {
		padding: 0 2.2rem;
	}

	@include mq('desktop') {
		padding: 0 28rem;
	}
}

.tournament__ribbon {
	position: absolute;
	z-index: -1;
	@include mq('desktop', max) {
		bottom: 0%;
		left: 50%;
		transform: translate(-50.2%, 9.6%);
		width: 86.5rem;
		height: 21.1rem;
	}

	@include mq('desktop') {
		bottom: 15%;
		left: 50%;
		transform: translate(-50%, 11.6%);
		width: 192.5rem;
		height: 35.9rem;
	}

	&::before {
		content: '';
		position: absolute;
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
		width: 100%;
		left: 0;

		z-index: -1;

		@include mq('desktop', max) {
			bottom: 0;
			height: 5rem;
		}

		@include mq('desktop') {
			bottom: 0;
			height: 5rem;
		}
	}
}

.tournament__title {
	@include mq('desktop', max) {
		margin-bottom: 3.5rem;
	}

	@include mq('desktop') {
		margin-bottom: 5.6rem;
	}
}

.tournament__description {
	@include mq('desktop', max) {
		// margin-bottom: 3.8rem;
	}

	@include mq('desktop') {
	}

	&.tournament__description--lg {
		display: inline-block;

		background: linear-gradient(180deg, rgba(210, 228, 255, 1) 0%, rgba(104, 175, 255, 1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #83bcff;
		text-shadow: -1px -1px 6px rgba(255, 255, 255, 0.32);
		-webkit-text-stroke: 0.1rem rgba(210, 228, 255, 0.5);

		@include mq('desktop', max) {
			font-size: 7rem;
		}

		@include mq('desktop') {
			font-size: 14.2rem;
		}
	}
}

.tournament__span {
	display: flex;
	justify-content: center;

	@include mq('desktop', max) {
		gap: 1rem;
	}

	@include mq('desktop') {
		gap: 1.4rem;
		margin-top: -2.3rem;
	}
}

.tournament__list {
	position: relative;

	@include mq('desktop', max) {
		aspect-ratio: 450/270;
		margin-bottom: 1.7rem;
	}

	@include mq('desktop') {
		aspect-ratio: 1099/383;
		margin-bottom: 1.7rem;
	}
}

.tournament__item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&:nth-child(1) {
		@include mq('desktop', max) {
			margin: -6.4rem 1.2rem 0rem;
			width: 17.2rem;
			height: 15.4rem;
		}

		@include mq('desktop') {
			margin: -13.4rem 0.4rem 0rem;
			width: 35rem;
			height: 31.5rem;
		}
	}

	&:nth-child(2) {
		@include mq('desktop', max) {
			margin: 1.6rem 14.4rem 0rem;
			width: 25rem;
			height: 24rem;
		}

		@include mq('desktop') {
			margin: 3.2rem 27.5rem 0rem;
			width: 51rem;
			height: 49.4rem;
		}
	}

	&:nth-child(3) {
		@include mq('desktop', max) {
			margin: 0.9rem -11rem 0rem;
			width: 24.7rem;
			height: 25.8rem;
		}

		@include mq('desktop') {
			margin: 1.4rem -26.2rem 0rem;
			width: 50.5rem;
			height: 52.8rem;
		}
	}

	&:nth-child(4) {
		@include mq('desktop', max) {
			margin: 15.2rem 13.2rem 0rem;
			width: 9rem;
			height: 7rem;
		}

		@include mq('desktop') {
			margin: 12.1rem -1.6rem 0rem;
			width: 18.6rem;
			height: 14.2rem;
		}
	}

	&:nth-child(5) {
		@include mq('desktop', max) {
			margin: -11.5rem 14.7rem 0rem;
			width: 7.2rem;
			height: 6.3rem;
		}

		@include mq('desktop') {
			margin: -13.5rem 50.6rem 0rem;
			width: 14rem;
			height: 13rem;
		}
	}

	&:nth-child(6) {
		@include mq('desktop', max) {
			margin: 6.5rem -0.2rem 0rem;
			width: 4.1rem;
			height: 4.1rem;
		}

		@include mq('desktop') {
			margin: -13.5rem -47rem 0rem;
			width: 8.6rem;
			height: 7.7rem;
		}
	}
}

.tournament__pic {
	animation: levitate 5s ease-in-out 1s infinite;
}

.tournament__info {
	display: flex;
	flex-direction: column;

	align-items: center;

	@include mq('desktop', max) {
		gap: 1.9rem;
	}

	@include mq('desktop') {
		gap: 3.4rem;
	}
}
