$pink1: #ff007b;
$pink2: #e0296c;
$pink3: #c9305e;
$pink4: #fe537e;

$black: #000000;
$white: #ffffff;
$grey: #3f3f3f;

$white-transparent: rgba(255, 255, 255, 0.1);
$gray-transparent: rgba(65, 65, 65, 0.1);

$font-klapt: 'Klapt', Impact, sans-serif;
$font-roboto: 'Roboto', Helvetica, sans-serif;
