$orange: #ff4800;
$orange-text: #e08f29;
$card-border: #c97430;
$button-border: #fe8453;

$black: #000000;
$white: #ffffff;

$white-transparent10: rgba(255, 255, 255, 0.1);
$gray-transparent10: rgba(65, 65, 65, 0.1);

$font-klapt: 'Klapt', Impact, sans-serif;
$font-roboto: 'Roboto', Helvetica, sans-serif;
