@use 'main' as *;

html {
	font-family: $font-roboto;
	font-size: 10px;
	font-weight: 400;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;

	background-color: $dark;

	@include mq('desktop', max) {
	}

	@include mq('desktop') {
	}

	// @media (max-width: 360px) {
	// 	font-size: calc(100vw / 360 * 10);
	// }

	// @media (min-width: 768px) and (max-width: 1023px) {
	// 	font-size: calc(100vw / 768 * 10);
	// }

	// @media (min-width: 1024px) and (max-width: 1366px) {
	// 	font-size: calc(100vw / 1366 * 10);
	// }
}
